:root {
    --background: #f8f5f2;
    --main: #fffffe;
    --second: #f45d48;
  
  }
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Paytone+One&family=Poppins:wght@300;400;600&family=Rubik+Vinyl&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Kanit&family=Varela+Round&display=swap');
  
  
  html {
    scroll-behavior: smooth;
  }
  * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      text-decoration: none;
  
      font-family: "Poppins", sans-serif;
  }
  
  body {
      min-height: 100vh;
      margin: 0px;
  }
  
  h1 {
    color: white;
  }
  p {
    color: black;
  }
  
  
  
  
  
  /* Heading Start */
  
  .logo {
      width: 70px;
      cursor: pointer;
  
      /* border-radius: 360px; */
  
  
  }
  
  
  
  li, a, button {
      font-family: "Poppins", sans-serif;
  
      font-weight: bold;
      font-size: 18px;
  
  }
  
  .header {
      padding: 15px 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      width: 100%;
  }
  
  
  
  
  .nav-menu {
  
      list-style: none;
  
      display: flex;
      align-items: center;
      gap:  50px;
  
  
  }
  
  .nav-menu li {
      display: inline-block;
      padding: 5px 0px;
  
  
  }
  
  .nav-menu li a {
      transition: all 0.2s ease 0s;
      color: black;
  
      }
  .nav-menu li a:hover {
          color: var(--primary)
      }
  .hamburger {
      display: none;
      cursor: pointer;
  
  
  }
  
  .bar {
      display: block;
      width: 35px;
      height: 5px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: black;
  }
  
  @media(max-width:780px) {

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;

    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

    }
    .nav-menu{
        overflow-y: auto;
      /* Optional but highly reccomended: enables momentum scrolling on iOS */
        -webkit-overflow-scrolling: touch;


        padding-bottom: 15px;
        position: absolute;
        left: -100%;
        top: 100px;
        gap: 0px;
        flex-direction: column;
  
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background: rgba( 0, 0, 0, 0.4 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 17.5px );
        -webkit-backdrop-filter: blur( 17.5px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .nav-links{
        margin: 16px 0;
        color: white;
        

    }
    .nav-menu li a {
      color: white;
      font-size: 27px;
    }
    .nav-menu.active{
        left: 0;
        z-index: 1000;


    }


}
  
  
  
  
  
  
  
  /* Header BTN */
  
  .button-18 {
  
    padding: 10px;
    font-size: 13px;
    background-color: black;
    color: white;
    border-radius: 15px;
    width: 85px;
  
  }
  
  .button-18:hover,
  .button-18:focus {
    background-color: black;
    color: white;
  }
  
  .button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }
  
  .button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }
  
  
  .fa-facebook {
      font-size: 35px;
  
  }
  /* END HEADER */
  
  
  #products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    margin: 2em;
  }
  
  .product {
    flex: 1;
    margin: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: #fff;
  }
  
  .product-image {
    width: 100%;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  .product-description {
    padding: 1em;
  }
  
  .product-description h2 {
    color: #333;
    font-size: 1.5em;
  }
  
  .product-description p {
    color: #666;
    font-size: 1.2em;
    line-height: 1.6;
  }
  
  .buy-now-btn {
    display: inline-block;
    background-color: #008CBA;
    color: white;
    padding: 14px 20px;
    margin: 25px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .buy-now-btn:hover {
    background-color: #007B9A;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    text-align: center;
    padding: 20px;
  }
  .contact-section h2 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  .contact-section h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  .contact-section p {
    font-size: 1.2em;
  }
  
  
  @media screen and (max-width: 600px) {
    #products {
      flex-direction: column;
    }
    .product {
      margin: 1em auto;
      max-width: 90%;
    }}

    footer {
      background-color: #333;
      color: #fff;
      
    }
    
    .footer-content {
      max-width: 1200px;
      
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 5px;
    }
    
    .footer-content p {
      margin: 0;
      
    }
    
    .footer-content ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    
    .footer-content ul li {
      margin-left: 15px;
    }
    
    .footer-content ul li a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
    }

    @media screen and (max-width: 780px) {
      .footer-content ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 13px;
      }
   
    }



